{% extends "base.twig" %}

{% block title %}Blog Home{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
{% if notice is not empty %}
        {{- notice|title}}

        {%- endif %}

                      {% for item in entries %}
                        <article>
                        <h2><a href="/entry/{{ item.id }}" > {{ item.title }} </a></h2>
                        <time> {{ item.created_at | date("m-d-Y") }} </time>
                        </article>
                        {% endfor %}


{% endblock %}
