{% extends "base.twig" %}

{% block title %}Blog Home{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
           <!-- redirects to home page after displaying update success-->
            {% if message is not empty %}
                    {{- message|title}}
             <meta http-equiv="refresh" content="3; URL= /">
                    {%- endif %}
            {% if comment_notice is not empty %}
                  <strong>  {{ comment_notice|title }} </strong>
              <meta http-equiv="refresh" content="3; URL= "/entry/" . $args['id']">
                    {%- endif %}

                    <article>
                        <h1> {{ details.title }} </h1>
                        <time datetime="2016-01-31 1:00"> {{ item.created_at | date("m-d-Y") }} </time>
                        <div class="entry">
                            <p> {{ details.body }} </p>
                            <p><a class="link" href="/entry/edit/{{ details.id }}">Edit Entry</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="entry-comments">
            <div class="container">
                    <h2>Comments</h2>

                    <div class="comment">

                    {% if comments|length > 1 %}
                    {% for item in comments %}

                        <strong>{{item.name}}</strong>
                        <time datetime="2016-01-31 1:00">{{ item.created_at|date("F jS, Y") }}</time>
                        <p> {{ item.comment }} </p>

                    <br>

                      {% endfor %}
                    {% else %}
                    {% for item in comments %}

                        <strong>{{item.name}}</strong>
                        <time datetime="2016-01-31 1:00">{{ item.created_at|date("F jS, Y") }}</time>
                        <p> {{ item.comment }} </p>
                      {% endfor %}
                    {% endif %}
                    </div>
                    <div class="new-comment">

                        <form action = "/entry/{{ details.id }}" method = "post">
                              <strong style="color:red;"> {{ warning|title }} </strong>
                              <label for="name"> Name</label>
                              <input type="text" name="name"><br>
                              <label for="comment">Comment</label>
                              <textarea rows="5" name="comment"></textarea>
                              <input type="submit" value="Post Comment" class="button">
                              <a href="/entry/{{ details.id }}" class="button button-secondary">Cancel</a>
                              <input type="hidden" name="Post_ID" value=" {{ details.id }} " >

                              <form action="/entry/{{ details.id }}" method="POST"> <br>
							                <br><input type="submit" name="Delete" value="Remove?{{ removed.id }}" class="button button-secondary" style="color:red;">

						</form>
                        </form>
                    </div>
            </div>
        </section>
{% endblock %}
